<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="vue.js"></script>
</head>
<body>
<div id="app01">
    <ul>
        <li v-for="hobby in hobbies">{{ hobby }}</li>
    </ul>

    <table border="1">
        <tr>
            <th>id</th>
            <th>price</th>
        </tr>
        <tr v-for="computer in computers">
            <td>{{ computer.id }}</td>
            <td>{{ computer.price }}</td>
        </tr>
    </table>

    <input @change="event => changeTest(event, 1)" id="btn-01" type="text" value="Hello"/>
</div>

<script>
    let {createApp} = Vue;
    createApp({
        data() {
            return {
                "hobbies": ["java", "python", "c++", "php"],
                "computers": [
                    {"id": 1, "price": 200},
                    {"id": 2, "price": 400},
                    {"id": 3, "price": 900},
                    {"id": 4, "price": 500}
                ]
            };
        },
        methods: {
            changeTest(event, hello) {
                alert(event.target.value);
                event.target.remove();
            }
        }
    }).mount("#app01")
</script>
</body>
</html>